*{
    margin: 0;
    padding: 0;
    border-radius: 7px;
    border: border-box;
}
body{
    background-color: #219Ebc;
    text-align: center;
}
h1{
    margin-top: .9rem;
}
.operand,.operators{
    background-color: #ff7c0d;
    border: border-box;
    border-radius: 20px;
    height: 3.4rem;
    width: 3.4rem;
    box-shadow: 0 0 1rem rgba(0, 0,0,0.5);
    color: white;
}

.functions{
    border-style:groove;
    width: 17rem;
    font-size: 3rem;
    padding: 10px;
}
.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border:2px solid black;
    width: 22rem;
    height: 28rem;
    background-color: #303c3c;
    border-radius: 20px;
}
.functions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.display{
    width: 18rem;
    height: 3.6rem;
    text-align: center;
    border:2px solid black;
    font-size: 30px;
    background-color: #cbcbcb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Orbitron";
    align-items: center;
    color: #514b4b;
}

.everything{
    display: flex;
    align-items: center;
    justify-content: center;
}
#headdd{
    font-style: italic;
    font-size: 5rem;
    text-decoration: underline;
}

.operand:hover{
    cursor: pointer;
    outline: 3px solid black;
}
